<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body class="error-body">
    <div class="wrapper">

        <main class="container" style="padding: 2rem;">
            <h1>
                <%= title %>
            </h1>
            <p>
                <%= message || "Something went wrong. Please try again later." %>
            </p>
            <a href="/" class="btn btn-primary">Go Back Home</a>
        </main>
      

    </div>
</body>

</html>